# MCO1 

// Project Details Details

### GARYNATION (S13)
1. Bien Aaron Miranda
2. Luis Miguel Rana
3. Karl Andre Aquino
4. Dominic Luis Baccay

### Python Libraries

Import numpy and pandas.

pandas is a software library for Python which provides data structures and data analysis tools.

In [731]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## The Dataset

    /////Give details about the dataset, what is inside the dataset, the variables, etc.
    
    A collection of YouTube giants, this dataset offers a perfect avenue to analyze and gain valuable insights from the luminaries of the platform. With comprehensive details on top creators' subscriber counts, video views, upload frequency, country of origin, earnings, and more, this treasure trove of information is a must-explore for aspiring content creators, data enthusiasts, and anyone intrigued by the ever-evolving online content landscape.

In [732]:
#encoding came from the discussion so that it is readable
youtube_df = pd.read_csv("Global YouTube Statistics.csv", encoding='iso-8859-1')

If you view the `.csv` file in Excel, you can see that our dataset contains about 995 **observations** (rows) across 28 **variables** (columns). The following are the descriptions of each variable in the dataset.

- **`rank`**: Position of the YouTube channel based on the number of subscribers
- **`Youtuber`**: Name of the YouTube channel
- **`subscribers`**: Number of subscribers to the channel
- **`video views`**: Overall count views to the channel
- **`category`**: Category or niche of the channel
- **`Title`**: Title
- **`uploads`**: Total number of videos uploaded on the channel
- **`Country`**: Country where the YouTube channel originates
- **`Abbreviation`**: Abbreviation of the country
- **`channel_type`**: Type of the YouTube channel (e.g., individual, brand)
- **`video_views_rank`**: Ranking of the channel based on total video views
- **`country_rank`**: Ranking of the channel based on the number of subscribers within its country
- **`channel_type_rank`**: Ranking of the channel based on its type (individual or brand)
- **`video_views_for_the_last_30_days`**: Total video views in the last 30 days
- **`lowest_monthly_earnings`**: Lowest estimated monthly earnings from the channel \$
- **`highest_monthly_earnings`**: Highest estimated monthly earnings from the channel \$
- **`lowest_yearly_earnings`**: Lowest estimated yearly earnings from the channel \$
- **`highest_yearly_earnings`**: Highest estimated yearly earnings from the channel $
- **`subscribers_for_last_30_days`**: Number of new subscribers gained in the last 30 days
- **`created_year`**: Year when the YouTube channel was created
- **`created_month`**: Month when the YouTube channel was created
- **`created_date`**: Exact date of the YouTube channel's creation
- **`Gross tertiary education enrollment (\%)`**: Percentage of the population enrolled in tertiary education in the country %
- **`Population`**: Total population of the country
- **`Unemployment rate`**: Unemployment rate in the country %
- **`Urban_population`**: Percentage of the population living in urban areas %
- **`Latitude`**: Latitude coordinate of the country's location
- **`Longitude`**: Longitude coordinate of the country's location

## Reading the Dataset

Our first step is to load the dataset using pandas. This will load the dataset into a pandas DataFrame. To load the dataset, we use the read_csv function. Note that you may need to change the path depending on the location of the file in your machine.

Will also tackle about what can be seen in the Dataset as a DataFrame

In [733]:
youtube_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    float64
 4   category                                 949 non-null    object
 5   Title                                    995 non-null    object
 6   uploads                                  995 non-null    int64
 7   Country                                  873 non-null    object
 8   Abbreviation                             873 non-null    object
 9   channel_type                             965 non-null    object
 10  video_views_rank                         994 non-null    float64
 11  country_rank                             879 non-null    float64
 12  channel_type_rank                        962 non-null    float64
 13  video_views_for_the_last_30_days         939 non-null    float64
 14  lowest_monthly_earnings                  995 non-null    float64
 15  highest_monthly_earnings                 995 non-null    float64
 16  lowest_yearly_earnings                   995 non-null    float64
 17  highest_yearly_earnings                  995 non-null    float64
 18  subscribers_for_last_30_days             658 non-null    float64
 19  created_year                             990 non-null    float64
 20  created_month                            990 non-null    object
 21  created_date                             990 non-null    float64
 22  Gross tertiary education enrollment (%)  872 non-null    float64
 23  Population                               872 non-null    float64
 24  Unemployment rate                        872 non-null    float64
 25  Urban_population                         872 non-null    float64
 26  Latitude                                 872 non-null    float64
 27  Longitude                                872 non-null    float64
dtypes: float64(18), int64(3), object(7)
memory usage: 217.8+ KB

### Examining the observations within the Dataset

    
To gain a better understanding of the observations within the dataset, it's essential to examine their appearance or visual representation. This can provide valuable insights and help you make informed decisions based on the data.

In [734]:
youtube_df.head(10)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
5,6,Music,119000000,0.000000e+00,NaN,Music,0,NaN,NaN,Music,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
6,7,ýýý Kids Diana Show,112000000,9.324704e+10,People & Blogs,ýýý Kids Diana Show,1111,United States,US,Entertainment,...,NaN,2015.0,May,12.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
7,8,PewDiePie,111000000,2.905804e+10,Gaming,PewDiePie,4716,Japan,JP,Entertainment,...,NaN,2010.0,Apr,29.0,63.2,1.262266e+08,2.29,115782416.0,36.204824,138.252924
8,9,Like Nastya,106000000,9.047906e+10,People & Blogs,Like Nastya Vlog,493,Russia,RU,People,...,100000.0,2016.0,Jan,14.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
9,10,Vlad and Niki,98900000,7.718017e+10,Entertainment,Vlad and Niki,574,United States,US,Entertainment,...,600000.0,2018.0,Apr,23.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891

# Cleaning the Dataset

This process aims to enhance the quality and reliability of the dataset.

### Before Cleaning:
Number of Observations: 995<br>
Number of Columns: 28<br>
Data types: float64(18), int64(3), object(7)<br>

#### Initial Observations: 
- There are special characters in the 'Youtuber' column.
- There are missing/null values in the dataset.
- Some variables are similar, therefore, unnecessary.
- Some data types are inappropriate for their respective variables.

#### Variables to be Observed:
We will be dropping all columns/variables except the following.
- **`Youtuber`**: Name of the YouTube channel
- **`subscribers`**: Number of subscribers to the channel
- **`video views`**: Overall count views to the channel
- **`category`**: Category or niche of the channel
- **`uploads`**: Total number of videos uploaded on the channel
- **`Country`**: Country where the YouTube channel originates
- **`channel_type`**: Type of the YouTube channel (e.g., individual, brand)
- **`lowest_monthly_earnings`**: Lowest estimated monthly earnings from the channel \$
- **`highest_monthly_earnings`**: Highest estimated monthly earnings from the channel \$
- **`lowest_yearly_earnings`**: Lowest estimated yearly earnings from the channel \$
- **`highest_yearly_earnings`**: Highest estimated yearly earnings from the channel $
- **`created_year`**: Year when the YouTube channel was created
- **`Population`**: Total population of the country

In [735]:
# Declare the variables that will be used
columns_to_keep = ['Youtuber', 'subscribers', 'video views', 'category', 'channel_type', 'uploads', 'Country', 'lowest_monthly_earnings', 'highest_monthly_earnings', 'lowest_yearly_earnings', 'highest_yearly_earnings', 'created_year', 'Population']
columns_to_drop = list(set(youtube_df.columns) - set(columns_to_keep))

# Drop unused columns (variables)
youtube_df.drop(columns_to_drop, axis=1, inplace=True)

youtube_df

,Youtuber,subscribers,video views,category,uploads,Country,channel_type,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,created_year,Population
0,T-Series,245000000,2.280000e+11,Music,20082,India,Music,564600.0,9000000.00,6800000.00,1.084000e+08,2006.0,1.366418e+09
1,YouTube Movies,170000000,0.000000e+00,Film & Animation,1,United States,Games,0.0,0.05,0.04,5.800000e-01,2006.0,3.282395e+08
2,MrBeast,166000000,2.836884e+10,Entertainment,741,United States,Entertainment,337000.0,5400000.00,4000000.00,6.470000e+07,2012.0,3.282395e+08
3,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,966,United States,Education,493800.0,7900000.00,5900000.00,9.480000e+07,2006.0,3.282395e+08
4,SET India,159000000,1.480000e+11,Shows,116536,India,Entertainment,455900.0,7300000.00,5500000.00,8.750000e+07,2006.0,1.366418e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,Natan por Aï¿,12300000,9.029610e+09,Sports,1200,Brazil,Entertainment,138100.0,2200000.00,1700000.00,2.650000e+07,2017.0,2.125594e+08
991,Free Fire India Official,12300000,1.674410e+09,People & Blogs,1500,India,Games,16200.0,258900.00,194200.00,3.100000e+06,2018.0,1.366418e+09
992,Panda,12300000,2.214684e+09,NaN,2452,United Kingdom,Games,17.0,268.00,201.00,3.200000e+03,2006.0,6.683440e+07
993,RobTopGames,12300000,3.741235e+08,Gaming,39,Sweden,Games,968.0,15500.00,11600.00,1.858000e+05,2012.0,1.028545e+07
994,Make Joke Of,12300000,2.129774e+09,Comedy,62,India,Comedy,6000.0,96000.00,72000.00,1.200000e+06,2017.0,1.366418e+09

### The "Youtuber" variable - Names of Youtubers

     We want to check if there are any observations that has no "Youtuber" values, because if there are no values present, we will be excluding these observations from the list.

In [736]:
# Check for null values
nullyoutuber_df = youtube_df[youtube_df["Youtuber"].isnull()]
nullyoutuber_df

Empty DataFrame
Columns: [Youtuber, subscribers, video views, category, uploads, Country, channel_type, lowest_monthly_earnings, highest_monthly_earnings, lowest_yearly_earnings, highest_yearly_earnings, created_year, Population]
Index: []

     We want to check if there are any duplicate "Youtuber" values, if any, the row will be removed.

In [737]:
# Check for duplicates
column_name = "Youtuber"
unique_count = youtube_df[column_name].nunique()
observation_count = youtube_df[column_name].count()

print(f"Number of observations in '{column_name}': {observation_count}")
print(f"Number of unique values in '{column_name}': {unique_count}")

Number of observations in 'Youtuber': 995
Number of unique values in 'Youtuber': 995

### The "video views" and "upload" variables

     We want to check if there are any observations that has zero (0)  "video views" or "uploads" as values since we will be excluding these observations from the list.
     - We will not be replacing the "null" (0) values with any measure of central tendency as this may skew our results too much.
     - The removal of these rows keeps our number of observations at approximately 95.37% (949 of 995) of the original count.

In [738]:
# Drop the rows where video views == 0
youtube_df = youtube_df[youtube_df["video views"] != 0]

# Drop the rows where uploads == 0
youtube_df = youtube_df[youtube_df["uploads"] != 0]

youtube_df

,Youtuber,subscribers,video views,category,uploads,Country,channel_type,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,created_year,Population
0,T-Series,245000000,2.280000e+11,Music,20082,India,Music,564600.0,9000000.0,6800000.0,108400000.0,2006.0,1.366418e+09
2,MrBeast,166000000,2.836884e+10,Entertainment,741,United States,Entertainment,337000.0,5400000.0,4000000.0,64700000.0,2012.0,3.282395e+08
3,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,966,United States,Education,493800.0,7900000.0,5900000.0,94800000.0,2006.0,3.282395e+08
4,SET India,159000000,1.480000e+11,Shows,116536,India,Entertainment,455900.0,7300000.0,5500000.0,87500000.0,2006.0,1.366418e+09
6,ýýý Kids Diana Show,112000000,9.324704e+10,People & Blogs,1111,United States,Entertainment,182900.0,2900000.0,2200000.0,35100000.0,2015.0,3.282395e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,Natan por Aï¿,12300000,9.029610e+09,Sports,1200,Brazil,Entertainment,138100.0,2200000.0,1700000.0,26500000.0,2017.0,2.125594e+08
991,Free Fire India Official,12300000,1.674410e+09,People & Blogs,1500,India,Games,16200.0,258900.0,194200.0,3100000.0,2018.0,1.366418e+09
992,Panda,12300000,2.214684e+09,NaN,2452,United Kingdom,Games,17.0,268.0,201.0,3200.0,2006.0,6.683440e+07
993,RobTopGames,12300000,3.741235e+08,Gaming,39,Sweden,Games,968.0,15500.0,11600.0,185800.0,2012.0,1.028545e+07
994,Make Joke Of,12300000,2.129774e+09,Comedy,62,India,Comedy,6000.0,96000.0,72000.0,1200000.0,2017.0,1.366418e+09

     After removing the observations, we will be resetting the indexes ensure there are no gaps and the data remains continuous.

In [739]:
# Reset the index after dropping rows
youtube_df.reset_index(drop=True, inplace=True)
youtube_df

,Youtuber,subscribers,video views,category,uploads,Country,channel_type,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,created_year,Population
0,T-Series,245000000,2.280000e+11,Music,20082,India,Music,564600.0,9000000.0,6800000.0,108400000.0,2006.0,1.366418e+09
1,MrBeast,166000000,2.836884e+10,Entertainment,741,United States,Entertainment,337000.0,5400000.0,4000000.0,64700000.0,2012.0,3.282395e+08
2,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,966,United States,Education,493800.0,7900000.0,5900000.0,94800000.0,2006.0,3.282395e+08
3,SET India,159000000,1.480000e+11,Shows,116536,India,Entertainment,455900.0,7300000.0,5500000.0,87500000.0,2006.0,1.366418e+09
4,ýýý Kids Diana Show,112000000,9.324704e+10,People & Blogs,1111,United States,Entertainment,182900.0,2900000.0,2200000.0,35100000.0,2015.0,3.282395e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
944,Natan por Aï¿,12300000,9.029610e+09,Sports,1200,Brazil,Entertainment,138100.0,2200000.0,1700000.0,26500000.0,2017.0,2.125594e+08
945,Free Fire India Official,12300000,1.674410e+09,People & Blogs,1500,India,Games,16200.0,258900.0,194200.0,3100000.0,2018.0,1.366418e+09
946,Panda,12300000,2.214684e+09,NaN,2452,United Kingdom,Games,17.0,268.0,201.0,3200.0,2006.0,6.683440e+07
947,RobTopGames,12300000,3.741235e+08,Gaming,39,Sweden,Games,968.0,15500.0,11600.0,185800.0,2012.0,1.028545e+07
948,Make Joke Of,12300000,2.129774e+09,Comedy,62,India,Comedy,6000.0,96000.0,72000.0,1200000.0,2017.0,1.366418e+09

### The "category" variable

     We want to check if there are any observations that has null values for the "category" column as we will be replacing their values.

In [740]:
# Check for null values in category
nullcategory_df = youtube_df[youtube_df["category"].isnull()]
nullcategory_df

,Youtuber,subscribers,video views,category,uploads,Country,channel_type,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,created_year,Population
85,Vlad vï¿½ï¿½ï,37900000,2.351015e+10,NaN,515,United States,Entertainment,61000.00,976400.0,732300.0,11700000.0,2018.0,3.282395e+08
124,BETER Bï¿½ï¿½,32700000,1.918004e+10,NaN,2738,Turkey,Games,365900.00,5900000.0,4400000.0,70200000.0,2012.0,8.342962e+07
146,Diana and Roma ESP,30700000,1.235599e+10,NaN,578,United States,Entertainment,25700.00,412000.0,309000.0,4900000.0,2016.0,3.282395e+08
152,ýýýýýýýýýýýýýýý ýýýýýý ýýýýýýýýýýýýýýýýýý,30400000,1.799996e+10,NaN,532,United States,Entertainment,30700.00,491700.0,368800.0,5900000.0,2018.0,3.282395e+08
201,D Billions,26200000,3.197746e+10,NaN,775,United States,Entertainment,121800.00,1900000.0,1500000.0,23400000.0,2019.0,3.282395e+08
239,shfa show India,24200000,1.572416e+10,NaN,469,United Arab Emirates,People,37800.00,604800.0,453600.0,7300000.0,2019.0,9.770529e+06
240,Super JoJo - Nursery Rhymes & Kids Songs,24100000,3.297749e+08,NaN,36,United States,Education,82100.00,1300000.0,985500.0,15800000.0,2019.0,3.282395e+08
245,Diana and Roma ARA,24100000,1.104126e+10,NaN,590,United States,Entertainment,16700.00,267500.0,200700.0,3200000.0,2019.0,3.282395e+08
294,Vlad and Niki Arabic,22500000,1.061370e+10,NaN,526,United States,Entertainment,16300.00,260300.0,195200.0,3100000.0,2018.0,3.282395e+08
301,Vlad and Niki ESP,22000000,8.594441e+09,NaN,515,United States,Entertainment,46000.00,735500.0,551600.0,8800000.0,2018.0,3.282395e+08
314,ZAMZAM ELECTRONICS TRADING,21700000,8.507819e+09,NaN,15126,United Arab Emirates,People,399600.00,6400000.0,4800000.0,76700000.0,2020.0,9.770529e+06
336,Vlad and Niki IDN,21000000,9.789122e+09,NaN,498,United States,Entertainment,33300.00,533400.0,400100.0,6400000.0,2018.0,3.282395e+08
401,Manoj parihar,19300000,2.642281e+08,NaN,335,India,Howto,9300.00,148700.0,111500.0,1800000.0,2021.0,1.366418e+09
421,Busy Fun Ltd,18800000,7.762077e+09,NaN,2,NaN,NaN,0.00,0.0,0.0,0.0,2021.0,NaN
428,Smile Family Spanish,18600000,7.008250e+09,NaN,457,United States,Entertainment,10800.00,173600.0,130200.0,2100000.0,2019.0,3.282395e+08
468,ýýýýýýýýý KIMPRO,17700000,1.920670e+10,NaN,1646,South Korea,People,850900.00,13600000.0,10200000.0,163400000.0,2017.0,5.170910e+07
469,Jane ASMR ï¿½ï¿½,17700000,7.387622e+09,NaN,1888,South Korea,People,0.00,0.0,0.0,0.0,2012.0,5.170910e+07
524,Ivana Alawi,16600000,1.318443e+09,NaN,180,Philippines,People,3800.00,60300.0,45200.0,723800.0,2018.0,1.081166e+08
562,Vlad and Niki ARA,16100000,7.399296e+09,NaN,510,United States,Entertainment,8000.00,128000.0,96000.0,1500000.0,2019.0,3.282395e+08
567,Panda Shorts,16100000,7.155736e+09,NaN,667,Sweden,Sports,119600.00,1900000.0,1400000.0,23000000.0,2020.0,1.028545e+07
585,MY FAMILY,15700000,6.153496e+09,NaN,150,Singapore,People,235.00,3800.0,2800.0,45100.0,2019.0,5.703569e+06
674,Filaretiki,14800000,1.578821e+10,NaN,2222,United States,People,300800.00,4800000.0,3600000.0,57800000.0,2021.0,3.282395e+08
699,Lotus Music,14500000,1.739129e+09,NaN,514,India,Tech,5800.00,92100.0,69100.0,1100000.0,2021.0,1.366418e+09
703,Eli Kids - Cartoons & Songs,14500000,4.821183e+09,NaN,605,United States,Music,37300.00,597000.0,447700.0,7200000.0,2018.0,3.282395e+08
723,Vlad and Niki PRT,14400000,6.543282e+09,NaN,516,United States,Entertainment,10000.00,160400.0,120300.0,1900000.0,2018.0,3.282395e+08
769,ýýýýýýýý ýý ýýýýýýýýýýýý,13900000,8.451755e+09,NaN,504,United States,People,28600.00,457000.0,342800.0,5500000.0,2018.0,3.282395e+08
791,Zeinab Harake,13600000,8.968914e+08,NaN,273,Philippines,People,3000.00,48400.0,36300.0,580200.0,2017.0,1.081166e+08
808,Vlad y Niki Show,13400000,4.622629e+09,NaN,477,United States,Entertainment,23100.00,368900.0,276700.0,4400000.0,2018.0,3.282395e+08
811,Vibhu 96,13400000,2.056338e+07,NaN,256,India,Education,5100.00,81100.0,60800.0,972700.0,2022.0,1.366418e+09
836,Vilmei,13200000,4.205665e+09,NaN,1324,Indonesia,People,66100.00,1100000.0,792900.0,12700000.0,2013.0,2.702039e+08
845,WiederDude,13100000,2.733683e+09,NaN,289,United States,Games,14200.00,227600.0,170700.0,2700000.0,2016.0,3.282395e+08
864,Wolfoo Channel,13000000,3.015478e+08,NaN,22,Pakistan,People,0.15,2.0,2.0,28.0,2021.0,2.165653e+08
887,FACT FIRE KING,12700000,1.159290e+09,NaN,782,India,Games,12800.00,205200.0,153900.0,2500000.0,2020.0,1.366418e+09
891,Diana and Roma IND,12700000,5.567832e+09,NaN,534,United States,Entertainment,11700.00,186400.0,139800.0,2200000.0,2019.0,3.282395e+08
898,Heidi y Zidane,12700000,6.001189e+09,NaN,600,United States,People,4000.00,64500.0,48400.0,773600.0,2019.0,3.282395e+08
907,Wolfoo Family,12500000,1.612540e+08,NaN,61,United States,Film,0.00,0.0,0.0,0.0,2019.0,3.282395e+08
913,Bebefinn - Nursery Rhymes & Kids Songs,12500000,4.163639e+09,NaN,322,United States,Entertainment,0.00,0.0,0.0,0.0,2022.0,3.282395e+08
927,DEV Ke Facts,12400000,1.971226e+09,NaN,218,India,Education,68400.00,1100000.0,821000.0,13100000.0,2012.0,1.366418e+09
946,Panda,12300000,2.214684e+09,NaN,2452,United Kingdom,Games,17.00,268.0,201.0,3200.0,2006.0,6.683440e+07

     We will now check for possible values we can use to replace the null values within the 'category' column based on the 'channel_type' column.
     - This is a viable way of handling the null values as both variables are similar in nature.

In [741]:
# Displaying the 'category' and 'channel_type' values for cleaning
column1 = 'category'
column2 = 'channel_type'

categoryandchannel_df = youtube_df.dropna(subset=[column1, column2])

unique_values_column1 = categoryandchannel_df[column1].unique().tolist()
unique_values_column2 = categoryandchannel_df[column2].unique().tolist()

df_unique_values_column1 = pd.DataFrame(unique_values_column1, columns=[column1])
df_unique_values_column2 = pd.DataFrame(unique_values_column2, columns=[column2])

# Concatenate DataFrames horizontally
result_df = pd.concat([df_unique_values_column1, df_unique_values_column2], axis=1)

# Display the unique values side by side as DataFrames
result_df

                 category   channel_type
0                   Music          Music
1           Entertainment  Entertainment
2               Education      Education
3                   Shows         People
4          People & Blogs         Sports
5                  Gaming           Film
6                  Sports           News
7        Film & Animation          Games
8           Howto & Style         Comedy
9         News & Politics          Howto
10                 Comedy      Nonprofit
11               Trailers          Autos
12  Nonprofits & Activism           Tech
13   Science & Technology        Animals
14                 Movies            NaN
15         Pets & Animals            NaN
16       Autos & Vehicles            NaN
17        Travel & Events            NaN

     After going through the unique values, we have prepared the following values to be used as replacement based on the channel_type.
| channel_type | category |
| ----------- | ----------- |
| Games      | Gaming       |
| People   | People & Blogs        |
| Entertainment      | Entertainment       |
| Sports   | Sports        |
| Film      | Film & Animation       |
| Howto   | Howto & Style        |
| Education      | Education       |
| Tech   | Science & Technology        |
| Music   | Music    |

     For the remaining rows with neither "column" nor "channel_type" values, they will be removed.

In [742]:
# Replace category null values with closest value in channel_type

# Use the .loc method to set the new value based on the condition (where 'category' is null)
youtube_df.loc[(youtube_df['channel_type'] == 'Games') & (youtube_df['category'].isnull()), 'category'] = 'Gaming'
youtube_df.loc[(youtube_df['channel_type'] == 'People') & (youtube_df['category'].isnull()), 'category'] = 'People & Blogs'
youtube_df.loc[(youtube_df['channel_type'] == 'Entertainment') & (youtube_df['category'].isnull()), 'category'] = 'Entertainment'
youtube_df.loc[(youtube_df['channel_type'] == 'Sports') & (youtube_df['category'].isnull()), 'category'] = 'Sports'
youtube_df.loc[(youtube_df['channel_type'] == 'Film') & (youtube_df['category'].isnull()), 'category'] = 'Film & Animation'
youtube_df.loc[(youtube_df['channel_type'] == 'Howto') & (youtube_df['category'].isnull()), 'category'] = 'Howto & Style'
youtube_df.loc[(youtube_df['channel_type'] == 'Education') & (youtube_df['category'].isnull()), 'category'] = 'Education'
youtube_df.loc[(youtube_df['channel_type'] == 'Tech') & (youtube_df['category'].isnull()), 'category'] = 'Science & Technology'
youtube_df.loc[(youtube_df['channel_type'] == 'Music') & (youtube_df['category'].isnull()), 'category'] = 'Music'

# Drop remaining rows with null values for 'category' column
youtube_df.dropna(subset=['category'], inplace=True)

# Display the modified DataFrame
youtube_df

,Youtuber,subscribers,video views,category,uploads,Country,channel_type,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,created_year,Population
0,T-Series,245000000,2.280000e+11,Music,20082,India,Music,564600.0,9000000.0,6800000.0,108400000.0,2006.0,1.366418e+09
1,MrBeast,166000000,2.836884e+10,Entertainment,741,United States,Entertainment,337000.0,5400000.0,4000000.0,64700000.0,2012.0,3.282395e+08
2,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,966,United States,Education,493800.0,7900000.0,5900000.0,94800000.0,2006.0,3.282395e+08
3,SET India,159000000,1.480000e+11,Shows,116536,India,Entertainment,455900.0,7300000.0,5500000.0,87500000.0,2006.0,1.366418e+09
4,ýýý Kids Diana Show,112000000,9.324704e+10,People & Blogs,1111,United States,Entertainment,182900.0,2900000.0,2200000.0,35100000.0,2015.0,3.282395e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
944,Natan por Aï¿,12300000,9.029610e+09,Sports,1200,Brazil,Entertainment,138100.0,2200000.0,1700000.0,26500000.0,2017.0,2.125594e+08
945,Free Fire India Official,12300000,1.674410e+09,People & Blogs,1500,India,Games,16200.0,258900.0,194200.0,3100000.0,2018.0,1.366418e+09
946,Panda,12300000,2.214684e+09,Gaming,2452,United Kingdom,Games,17.0,268.0,201.0,3200.0,2006.0,6.683440e+07
947,RobTopGames,12300000,3.741235e+08,Gaming,39,Sweden,Games,968.0,15500.0,11600.0,185800.0,2012.0,1.028545e+07
948,Make Joke Of,12300000,2.129774e+09,Comedy,62,India,Comedy,6000.0,96000.0,72000.0,1200000.0,2017.0,1.366418e+09

     We will also drop the "channel_type" column since we will no longer be using it.

In [743]:
# Drop 'channel_type' column
youtube_df.drop(columns='channel_type', inplace=True)

youtube_df

,Youtuber,subscribers,video views,category,uploads,Country,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,created_year,Population
0,T-Series,245000000,2.280000e+11,Music,20082,India,564600.0,9000000.0,6800000.0,108400000.0,2006.0,1.366418e+09
1,MrBeast,166000000,2.836884e+10,Entertainment,741,United States,337000.0,5400000.0,4000000.0,64700000.0,2012.0,3.282395e+08
2,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,966,United States,493800.0,7900000.0,5900000.0,94800000.0,2006.0,3.282395e+08
3,SET India,159000000,1.480000e+11,Shows,116536,India,455900.0,7300000.0,5500000.0,87500000.0,2006.0,1.366418e+09
4,ýýý Kids Diana Show,112000000,9.324704e+10,People & Blogs,1111,United States,182900.0,2900000.0,2200000.0,35100000.0,2015.0,3.282395e+08
...,...,...,...,...,...,...,...,...,...,...,...,...
944,Natan por Aï¿,12300000,9.029610e+09,Sports,1200,Brazil,138100.0,2200000.0,1700000.0,26500000.0,2017.0,2.125594e+08
945,Free Fire India Official,12300000,1.674410e+09,People & Blogs,1500,India,16200.0,258900.0,194200.0,3100000.0,2018.0,1.366418e+09
946,Panda,12300000,2.214684e+09,Gaming,2452,United Kingdom,17.0,268.0,201.0,3200.0,2006.0,6.683440e+07
947,RobTopGames,12300000,3.741235e+08,Gaming,39,Sweden,968.0,15500.0,11600.0,185800.0,2012.0,1.028545e+07
948,Make Joke Of,12300000,2.129774e+09,Comedy,62,India,6000.0,96000.0,72000.0,1200000.0,2017.0,1.366418e+09

In [744]:
# Names of the columns that will be modified
columns_to_modify = ['subscribers', 'video views', 'Population']

# Define a function to convert values to millions and change data type
def convert_to_millions_and_int(value):
    return (float(value) / 1e6) if pd.notna(value) else value

# Apply the conversion function to the specified columns
for column in columns_to_modify:
    youtube_df[column] = youtube_df[column].apply(convert_to_millions_and_int)

# Rename columns to indicate values are in millions
youtube_df.rename(columns={'subscribers': 'subscribers (in millions)', 'video views': 'video views (in millions)', 'Population': 'Population (in millions)'}, inplace=True)

youtube_df

,Youtuber,subscribers (in millions),video views (in millions),category,uploads,Country,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,created_year,Population (in millions)
0,T-Series,245.0,228000.000000,Music,20082,India,564600.0,9000000.0,6800000.0,108400000.0,2006.0,1366.417754
1,MrBeast,166.0,28368.841870,Entertainment,741,United States,337000.0,5400000.0,4000000.0,64700000.0,2012.0,328.239523
2,Cocomelon - Nursery Rhymes,162.0,164000.000000,Education,966,United States,493800.0,7900000.0,5900000.0,94800000.0,2006.0,328.239523
3,SET India,159.0,148000.000000,Shows,116536,India,455900.0,7300000.0,5500000.0,87500000.0,2006.0,1366.417754
4,ýýý Kids Diana Show,112.0,93247.040539,People & Blogs,1111,United States,182900.0,2900000.0,2200000.0,35100000.0,2015.0,328.239523
...,...,...,...,...,...,...,...,...,...,...,...,...
944,Natan por Aï¿,12.3,9029.609749,Sports,1200,Brazil,138100.0,2200000.0,1700000.0,26500000.0,2017.0,212.559417
945,Free Fire India Official,12.3,1674.409945,People & Blogs,1500,India,16200.0,258900.0,194200.0,3100000.0,2018.0,1366.417754
946,Panda,12.3,2214.684303,Gaming,2452,United Kingdom,17.0,268.0,201.0,3200.0,2006.0,66.834405
947,RobTopGames,12.3,374.123483,Gaming,39,Sweden,968.0,15500.0,11600.0,185800.0,2012.0,10.285453
948,Make Joke Of,12.3,2129.773714,Comedy,62,India,6000.0,96000.0,72000.0,1200000.0,2017.0,1366.417754

### The "category" variable

     We want to check out

In [747]:
# insert code here
youtube_df['category'].unique()

array(['Music', 'Entertainment', 'Education', 'Shows', 'People & Blogs',
       'Gaming', 'Sports', 'Film & Animation', 'Howto & Style',
       'News & Politics', 'Comedy', 'Trailers', 'Nonprofits & Activism',
       'Science & Technology', 'Movies', 'Pets & Animals',
       'Autos & Vehicles', 'Travel & Events'], dtype=object)

In [748]:
null_values = youtube_df[youtube_df["channel_type"].isnull()]
null_values

KeyError: 'channel_type'

### The "Monthly Earnings" variable

     We want to check out

In [ ]:
# insert code here

### The "Highest Monthly Earnings" variable
 We want to check out

In [ ]:
# insert code here

### The "Subscribers" variable

In [ ]:
# insert code here

### The "video views" variable

In [ ]:
# insert code here

### The "uploads" variable
 We want to check out

In [ ]:
# insert code here

# Exploratory Data Analysis

    Placeholder detailsl

### What are the Highest Earning Categories?

    LMAO Try ko lang

In [ ]:
# insert Code Here

### Are there any correlation between views and monthly earnings?

    Placeholder details

### Are there any top Youtube channels with a lot of subscribers but has no video uploads?

    To find bot channels in the dataset

### Are there any top Youtube Channels with less than 2 videos and only a little bit of views and uploads?
    
    To extend the exploration on finding bots channel in the dataset_____

### Are there any correlations between views and subscribers?

 Placeholder details